div {
	background: #e8ddde;
	font-size:  2em;
	width:  30%;
	height: 50%;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	transition:  width 2s, height 2s, transform 2s;
	display: flex;
	align-content: center;
}

div:hover {
	background: lightcoral;
	width: 250px;
	height: 250px;
	-webkit-transform: rotateX(90deg);
	transform:  rotate(90deg);
}

.container {
	display: flex;
	justify-content: center;
	align-content: center;
	/*text-align: center;*/
}


.rotate {
	-webkit-transition: all 1s ease-in-out;

}
/*.box:hover {
	-webkit-transform: rotate(-90deg);
	background: lightcoral;
	border-radius: 100px;
	width: 50px;
	height: 50px;
}*/

/*link1 {
background-color: pink;

}

link1:hover {
	font-size: 2em;
	transition: width 2s, height 2s, -webkit-transform 2s;
	transform: rotate(90deg);
}*/